
<!DOCTYPE html>
<html lang="en">
<head>
{{> include/header}}
</head>

<body>

<div class="container">
    <form name="stockSearch" class="form-signin" method="post" action="/stock/">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputStock" class="sr-only">Stock Name</label>
        <input type="text" name="stockName" id="inputStock" class="form-control" placeholder="Stock Name" required autofocus>
        <!--<label for="inputPassword" class="sr-only">Password</label>-->
        <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">검색</button>
    </form>

</div> <!-- /container -->
{{> include/footer}}
</body>
</html>